[[repos]]
repo = "builtin"
hooks = [
  { id = "trailing-whitespace" },
  { id = "end-of-file-fixer" },
  { id = "check-toml" },
  { id = "check-yaml" },
]

[[repos]]
repo = "local"

[[repos.hooks]]
id = "cargo-fmt"
name = "cargo fmt"
language = "system"
entry = "cargo fmt --all -- --check"
pass_filenames = false
types = ["rust"]

[[repos.hooks]]
id = "cargo-clippy"
name = "cargo clippy"
language = "system"
entry = "cargo clippy --all-targets --all-features -- -D warnings"
pass_filenames = false
types = ["rust"]

[[repos.hooks]]
id = "cargo-test"
name = "cargo test"
language = "system"
entry = "cargo test --all-features --bins"
pass_filenames = false
types = ["rust"]
